$greyish:#555555;
$common-height:80px;
$placeholder-color: #999;
$frosted-glass: rgba(255, 255, 255, 0.5);
$white: #fff;
$special:#141C27;
$jost: 'Jost', sans-serif;
$rubik: 'Rubik', sans-serif;
$ropa: 'Ropa Sans', sans-serif;
$island:'Island Moments', cursive;
$silver: #C0C0C0;
$darkpink : #FF1493;
.tasks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    height: 100vh;
    margin-left: 300px;
}
.task-table{
    width: 1000px;
    border-collapse: collapse;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    table {
        width: 100%;
        border-collapse: collapse;
        background-color: $silver;
        box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
        tr {
            border-bottom: 1px solid #ccc;
            .task{
                background-color: $special;

            }

        }
        .data-number{
            color: $darkpink;
            border: 2px solid $darkpink;
        }
        .data-status{
            background-color: $darkpink;
            color: $white;
            border-radius: 15px;
            width: 80px;
            height: 20px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        th, td {
            padding: 8px;
            text-align: left;
           

            input{
                margin-left: 10px;
                outline: none;
                border: none;
                border-bottom: 1px solid $special;
                font-family: $jost;
            }
        }
        th {
            font-family: $ropa;
            font-size: 16px;
            padding : 10px;
            padding-left: 20px;
        }
        tr:nth-child(even) {
           background-color: $silver;
           
        }
    }
}