$greyish:#555555;
$common-height:80px;
$placeholder-color: #999;
$frosted-glass: rgba(255, 255, 255, 0.5);
$white: #fff;
$special:#141C27;
$jost: 'Jost', sans-serif;
$rubik: 'Rubik', sans-serif;
$ropa: 'Ropa Sans', sans-serif;
$island:'Island Moments', cursive;
$silver: #C0C0C0;
$darkpink : #FF1493;

@mixin data-items{
    width: 10%;
    text-align: center;
    font-family: $jost;
    font-size: 16px;
    padding : 10px;
}
.tasks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    height: 100vh;
    margin-left: 300px;
}
.task-table{
    width: 1000px;
    border-collapse: collapse;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    table {
        width: 100%;
        border-collapse: collapse;
        background-color: $silver;
        box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
        tr {
            border-bottom: 1px solid #ccc;
            .task{
                background-color: $special;

            }

        }
        .data-number{
            @include data-items;
            background-color: orangered;
           
        }
        .data-status{
            @include data-items;
          
        }
        .data-name{
            @include data-items;
        }
        .data-client{
            @include data-items;
        }
        .data-status{
            @include data-items;
        }
        .data-date{
            @include data-items;
        }
        .data-type{
            @include data-items;
        }
        .data-assigned{
            @include data-items;
        }
        .data-priority{
            @include data-items;
            border: 1px solid $darkpink;
            padding: 20px;
            font-size: 20px;
            background-color: #555555;
            color: $white;
        }

        th, td {
            padding: 8px;
            text-align: left;
           

            input{
                margin-left: 10px;
                outline: none;
                border: none;
                border-bottom: 1px solid $special;
                font-family: $jost;
            }
        }
        th {
            font-family: $ropa;
            font-size: 16px;
            padding : 10px;
            padding-left: 20px;
        }
        tr:nth-child(even) {
           background-color: $silver;
           
        }
    }
}