.collections-page {
    display: flex;
}
.side-bar {
    width: 200px;
}

.collections-items {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr)); /* Display three cards per row */
    gap: 80px;
    margin-top: 20px;
    width: calc(100% - 200px);
}
.special-card {
    display: inline-block;
  }
  


.item-container {
    position: relative;
    margin-bottom: 20px;
    width: 300px;
    margin-left: 40px;
}

.item-image {
    position: relative;
}

.item-image img {
    width: 100%;
    height: auto;
}

.item-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.item-container:hover .item-overlay {
    opacity: 1;
}

.wish img {
    width: 30px;
    height: 30px;
}

.add-to-cart-btn img {
    width: 20px;
    height: 20px;
}

.discounted-price {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FF6F61;
    width: 45px;
    height: 20px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.price-container {
    display: flex;
    align-items: center;
}

.previous-price {
    text-decoration: line-through;
    margin-right: 5px;
}

.current-price {
    font-weight: bold;
}

