$greyish:#555555;
$celestialOrange:#FF6F61;
$common-height:80px;
$placeholder-color: #999;
$frosted-glass: rgba(255, 255, 255, 0.5);
$white: #fff;
$special:#141C27;
$silver: #C0C0C0;
$women-background-image: url("../images/wom.jpg");
$mens-background-image: url("../images/style2.jpg");
@mixin shop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    height: 400px;
    width:600px;
  }
  @mixin card-item{
    width: 200px;
    height: 250px;
    background-color: crimson;
    margin-top: 20px;
  }


.heading {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: $celestialOrange;
    width: 300px;
    margin-left: 100px;
  }
  
  .paragraph {
    font-size: 16px;
    margin-bottom: 20px;
    color: $white;
    width: 500px;
    margin-left: 400px;
  }
  
  .colored-paragraph {
    font-size: 16px;
    color: #00CED1;
    margin-bottom: 20px;
    width: 500px;
    margin-left: 400px;
  }
  
  button {
    background-color: $celestialOrange;
    color: $white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 90px;
  }
  
  button:hover {
    background-color: darken($celestialOrange, 10%);
  }
  
/*Homepage component*/
.Homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @keyframes zoomIn {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
      
    }
  }
  
  .home-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    height: 700px;
    width: 100%;
    animation: zoomIn 5s ease infinite alternate;
  }
  
  .home-intro h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .home-intro p {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .home-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
    padding: 20px;
    background-color: $silver;
  }
  
  .women-shop{
    background-image: $women-background-image;
    @include shop;
  }
  .mens-shop {
   @include shop;
    background-image: $mens-background-image;
  }
  .loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    gap: 20px;
    z-index: 100;
  }
  
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 5px;
  
  }
  
  .active {
    background-color: #ff6f61;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .heading,
  .paragraph,
  .colored-paragraph,
  .animate button {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
  }
  
  .heading {
    animation-delay: 0.5s;
  }
  
  .paragraph {
    animation-delay: 1s;
  }
  
  .colored-paragraph {
    animation-delay: 1.5s;
  }
  
  button {
    animation-delay: 2s;
  }
  .welcome{
    background-color: #000;
    height: 500px;
    color: white;
    width: 100%;

        h1{
            font-size: 2rem;
            margin-bottom: 10px;
            color: $celestialOrange;
            margin-top: 20px;
            text-align: center;
            

        }
        p{
            font-size: 18px;
            margin: 0;
            color: $white;
            text-align: center;
            margin-top: 10px;
            margin-left: 370px;
            width: 700px;
        }

  }
  .items{
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

        button{
            background-color: $celestialOrange;
            color: $white;
            border: none;
            font-size: 1.2rem;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-left: 40px;
            padding: 10px 20px;
            margin-top: 150px;
        }
        h3{
            font-size: 18px;
            color:crimson;
            margin-top: 20px;
            text-align: center;
        
        }
  }
  @keyframes zoomInOut {
    0% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  .dresses {
    @include card-item;
    background-image: url("../images/women/dress2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    animation: zoomInOut 5s ease-in-out infinite alternate, fadeInOut 3s ease-in-out infinite alternate;
    border: 2px solid transp;
    transition: border-color 0.3s ease;
  }
  
  .dresses:hover {
    border-color: $celestialOrange;
  }
  
  .watches {
    @include card-item;
    background-image: url("../images/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    animation: zoomInOut 6s ease-in-out infinite alternate, fadeInOut 4s ease-in-out infinite alternate;
    filter: contrast(80%);
  }
  
  .watches:hover {
    filter: contrast(100%);
  }
  
  .shoes {
    @include card-item;
    background-image: url("../images/airmaxplus.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    animation: zoomInOut 7s ease-in-out infinite alternate, fadeInOut 5s ease-in-out infinite alternate;
    box-shadow: 0px 0px 10px rgba(255, 111, 97, 0.5);
  }
  
  .shoes:hover {
    box-shadow: 0px 0px 20px rgba(255, 111, 97, 1);
  }
  
  .accessories {
    @include card-item;
    background-image: url("../images/acce3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    animation: zoomInOut 8s ease-in-out infinite alternate, fadeInOut 6s ease-in-out infinite alternate;
    border-radius: 10px;
    animation: zoomInOut 7s ease-in-out infinite alternate, fadeInOut 5s ease-in-out infinite alternate;
    box-shadow: 0px 0px 10px rgba(255, 111, 97, 0.5);
  }
  
  .accessories:hover {
    transform: rotate(5deg);
  }
  