.shop-page {
    display: flex;
    flex-direction: column;
  
    .left-sidebar {
      // Add styles for the left sidebar
    }
  
    .content-container {
      flex: 1;
      padding: 20px;
  
      .categories-nav {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        background-color: #333;
        height: 200px;
  
        button {
          padding: 10px 20px;
          background-color: #333;
          color: #fff;
          border: none;
          border-radius: 20px;
          cursor: pointer;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: #555;
          }
        }
      }
  
      .flash-sales-products,
      .men-products,
      .women-products,
      .kids-products,
      .accessories-products,
      .shoes-products {
        display: none;
  
        &.active {
          display: block;
        }
      }
    }
  }
  .shop-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../images/fashio.jpg') no-repeat center center/cover;
    color: #fff;
    height: 400px;
    font-size: 2rem;
  }
  