
.signup-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  
    .left-container {
    }
    .overlay{
      background-color: rgba(29, 137, 204, 0.6);
      height: 100vh;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;

    }
  
    .right-container {
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      position: relative;
      z-index: 1;
  
      .horizontal-nav {
        z-index: 1;
        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;
  
          li {
            display: inline;
            margin-right: 10px;
  
            a {
              text-decoration: none;
              color: #333;
            }
          }
        }
      }
  
      .signup-form {
        /* Styles for sign-up form */
  
        h2 {
          font-size: 24px;
          margin-bottom: 20px;
        }
  
        .form-group {
          margin-bottom: 15px;
  
          label {
            display: block;
            margin-bottom: 5px;
          }
  
          input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
          }
        }
  
        button {
          padding: 10px 20px;
          background-color: #007bff;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
  
          &:hover {
            background-color: #0056b3;
          }
        }
  
        .login-link {
          margin-top: 10px;
  
          a {
            text-decoration: none;
            color: #007bff;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  