.dark-mode-toggle {
    switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        background-color: red;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
}