
.side-nav {
    width: 200px;
    position: fixed;
    height: 700px;
    background-color: #483D8B;
    padding: 20px;
    margin-top: 10px;
    border-radius: 12px;

    ul {
        list-style-type: none;
        padding: 0;

        li {
            margin-bottom: 10px;

            a {
                text-decoration: none;
                color: #fff;
            }
            .dropdown-icon {
                width: 20px;
                height: 20px;
                margin-left: 8px;
            }

            .dropdown-toggle {
                cursor: pointer;
                color: #fff;
                text-decoration: none;
                display: block;
            }

            .dropdown {
                list-style-type: none;
                padding-left: 20px;
                margin-top: 10px;

                li {
                    margin-bottom: 5px;

                    a {
                        text-decoration: none;
                        color: crimson;
                    }
                }
            }
        }
    }
}
