$greyish:#555555;
$celestialOrange:#FF6F61;
$common-height:80px;
$placeholder-color: #999;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.header{
    background-color: $greyish;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: $common-height;
}
.bar{
    background-color: $celestialOrange;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: $common-height;
}
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: $greyish;
  padding: 10px;
  height: 120px;

  input[type="text"] {
    flex: 1;
    padding-right: 40px;
    border: none;
    border-radius: 5px;
    margin-left: 350px;
    height: 40px;
    max-width: 600px;
    outline: none;

    &::placeholder {
      color: $placeholder-color;
    }
  }

  .filter-icon,
  button[type="submit"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $celestialOrange;
  }

  .filter-icon {
    left: 10px;
  }

  button[type="submit"] {
    right: 290px;
    background-color: $celestialOrange;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

  }
}


.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* Navbar component */
.navbar {
  background-color: #333;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-brand {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 15px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.nav-link:hover {
  text-decoration: underline;
}
/*Homepage component*/
.Homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}