$greyish:#555555;
$celestialOrange:#FF6F61;
$common-height:80px;
$placeholder-color: #999;
$frosted-glass: rgba(255, 255, 255, 0.5);
$white: #fff;
$special:#141C27;
$background-image1: url("./images/pic2.jpg");
$women-background-image: url("./images/wom2.jpg");
$mens-background-image: url("./images/pic.jpg");
@mixin shop{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  height: 400px;
  width:600px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
  // overflow-y: scroll;
  overflow-x: hidden;
}
.header{
    background-color: $greyish;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: $common-height;
}
.bar{
    background-color: $celestialOrange;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: $common-height;
}
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  background-color:$frosted-glass;
  padding: 10px;
  height: 120px;

  input[type="text"] {
    flex: 1;
    padding: 10px 50px 10px 20px; 
    border: none;
    border-radius: 5px;
    margin-left: 350px;
    height: 40px;
    max-width: 630px;
    outline: none;
    border: 1.5px solid $celestialOrange;
    box-shadow:  0 0 6px $greyish;

    &::placeholder {
      color: $placeholder-color;
    }
  }

  .filter-icon,
  button[type="submit"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: $celestialOrange;
  }

  .filter-icon {
    left: 850px;
    height: 40px;
    width: 90px;
    background-color: $greyish;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 2px solid $celestialOrange;
    color: $white;
  }
  .filter-icon img{
    height: 20px;
    width: 20px;
  }

  button[type="submit"] {
    right: 274px;
    background-color: $celestialOrange;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 50px;
    margin-top: -1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

  }
}
.categories{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $celestialOrange;
    color: white;
    padding: 10px;
    height: 100px;
}
/* Navbar component */
.navbar {
  background-color: $special;
  color: #fff;
  height: 100px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.category-icon{
  display: flex;
  flex-direction: row;
}
.category-icon img{
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.navbar-brand {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  gap: 50px;

}

.nav-item {
  margin-right: 15px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.nav-link:hover {
  text-decoration: underline;
}