@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Jost:ital,wght@0,100..900;1,100..900&family=Ropa+Sans:ital@0;1&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
$greyish:#555555;
$celestialOrange:#FF6F61;
$common-height:80px;
$placeholder-color: #999;
$frosted-glass: rgba(255, 255, 255, 0.5);
$white: #fff;
$special:#141C27;
$background-image1: url("./images/wom2.jpg");
$women-background-image: url("./images/wom2.jpg");
$mens-background-image: url("./images/pic.jpg");
$jost: 'Jost', sans-serif;
$rubik: 'Rubik', sans-serif;
$ropa: 'Ropa Sans', sans-serif;
$island:'Island Moments', cursive;
$silver: #C0C0C0;
@mixin shop{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  height: 400px;
  width:600px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
  // overflow-y: scroll;
  overflow-x: hidden;
}
.phone,.email,.my-account{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.call-icon img,.mail-icon img,.person-icon img{
  height: 20px;
  width: 20px;
}
.header{
    background-color: $special;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: $common-height;
    font-family: $jost;
  
    
}
.reach{
  width: 600px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 20px;
}
.bar{
    background-color: $special;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-end;
    height: $common-height;
      h1{
        font-family: $ropa;
        font-size: 16px;
        margin-top: 10px;
      
      }
}
.choice{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 10px;
    margin-right: 50px;
    border: 2px solid  crimson;
    width: 230px;
    height: 50px;
    padding: 10px;
    border-radius: 16px;

}
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 200px;
  background-color: $silver;

  input[type="text"] {
    flex: 1;
    padding: 10px 50px 10px 20px; 
    border: none;
    border-radius: 5px;
    margin-left: 350px;
    height: 60px;
    max-width: 630px;
    outline: none;
    box-shadow:  0 0 6px $greyish;
    font-family: $ropa;

    &::placeholder {
      color: $placeholder-color;
      font-family: $ropa;
      font-weight: 500;
      font-size: 18px;
    }
  }
button[type="submit"] {
    background-color: $special;
    cursor: pointer;
    height: 50px;
    width: 60px;
    margin-top: -1px;
    border-radius: 5px;
    margin-left: -70px;
    border: none;
    transition:  transform 0.5s;
    &:hover{
      transform: scale(1.1);
    }

  }
}
.categories{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $celestialOrange;
    color: white;
    padding: 10px;
    height: 97px;
}
/* Navbar component */
.navbar {
  background-color: $special;
  color: #fff;
  height: 100px;
  font-family: $ropa;
  font-size: 22px;
  border:  2px solid $celestialOrange;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 22px;
  text-decoration: none;
}
.container2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.category-icon{
  display: flex;
  flex-direction: row;
}
.category-icon img{
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.navbar-brand {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  gap: 50px;
  font-size: 22px;

}

.nav-item {
  margin-right: 15px;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

.nav-link:hover {
  text-decoration: none;
  color: crimson;
}
.cart{
  display: flex;
  flex-direction: row;
  gap: 10px;
    &:hover{
      cursor: pointer;
      transform: scale(1.1);
      transition : transform 0.5s;
      color: crimson;
    }
}
.cart img{
  height: 30px;
  width: 30px;
    &:hover{
      cursor: pointer;
      transform: scale(1.1);
      transition : transform 0.5s;
    }
}
.wishlist{
  display: flex;
  flex-direction: row;
  gap: 10px;
    &:hover{
      cursor: pointer;
      transform: scale(1.1);
      transition : transform 0.5s;
      color: crimson;
    }
}
.wishlist img{
  height: 30px;
  width: 30px;
    &:hover{
      cursor: pointer;
      transform: scale(1.1);
      transition : transform 0.5s;
    }
}

